:root {
  --duration-fast: .25s;
  --zoom-amount: 1.1;
  --darken-amount: .85;
}

.hover-zoom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .hover-zoom-child {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform var(--duration-fast);
  }

  &:hover {

    .hover-zoom-child {
      transform: scale(var(--zoom-amount));
    }
  }
}

.hover-darken {
  transition: filter var(--duration-fast);

  &:hover {
    filter: brightness(var(--darken-amount));
  }
}
